.banner {
	background-image: url("../images/banner.jpeg");
	height: 80vh;
	background-size: cover;
}



.card {
  display: flex;
  align-items: center;
	padding: 20px;
	flex-basis: 250px;
	flex-grow: 1;
	margin: 1px;
}


.card img {
  width: 150px;
}


.cards {
  display: flex ;
	flex-wrap: wrap;
}


.footer {
	background-color: lightpink;
	height: 40vh;
	background-size: cover;
}